<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="polling.css">
    <title>Polling-WHAT AN IDEA SIR JI</title>
</head>

<body>
    <div class="container-fluid">

        <%- include('includes/navigation.ejs') %>
            <% if(isAuthenticated) {%>
                <h1 class="team-name">Welcome <span><%= Teamname %></span>
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">

                                <div class="card-header">
                                    Team 1
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote1" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">
                                <div class="card-header">
                                    Team 2
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote2" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">
                                <div class="card-header">
                                    Team 3
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote3" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">
                                <div class="card-header">
                                    Team 4
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote4" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="alert alert-info">You have <%= votesbalance %> votes remaining</h3>
                <% } else { %>
                    <h2 class="alert alert-warning">Login with your team id and secret code to vote</h2>
                    <% } %>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>