*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    position: relative;

}

body,
html {
  height: 100%;
  width: 100%;
  overflow-x:hidden;
  font-family: 'Poppins', sans-serif;
}
@font-face {
  font-family: funnyFont;
  src: url(./FunSized.ttf);
}
.team-name span{
    color:#323249;
    text-transform:uppercase;
    

}

