<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="./css/polling.css">
    <style>



      a {
        color: #333;
        text-decoration: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        margin: 0px auto;
        font-family: Helvetica, Arial, Sans-Serif;
        text-transform: uppercase;
        font-weight: bold;
      }
      
      .lamp {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        margin: 0px auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: center top;
        animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
        animation: move 5s infinite ease-in-out;
        /* IE 10+, Fx 29+ */
      }
      
      @keyframes move {
        0% {
          transform: rotate(-30deg);
        }
        50% {
          transform: rotate(30deg);
        }
        100% {
          transform: rotate(-30deg);
        }
      }
      .cable {
        width: 4px;
        height: 160px;
        background: #1A5F7A;
      }
      
      .cover {
        width: 200px;
        height: 80px;
        background: #1A5F7A;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        position: relative;
        z-index: 200;
      }
      
      .in-cover {
        width: 100%;
        max-width: 200px;
        height: 20px;
        border-radius: 100%;
        background: #AAA;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0px auto;
        bottom: -9px;
        z-index: 100;
      }
      .in-cover .bulb {
        width: 50px;
        height: 50px;
        background: #F5D76E;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -20px;
        margin: 0px auto;
      }
      
      .light {
        width: 200px;
        height: 0px;
        border-bottom: 1000px solid #FFF89A;
        border-left: 60px solid transparent;
        border-right: 60px solid transparent;
        position: absolute;
        left: 0px;
        right: 0px;
        top: 180px;
        margin: 0px auto;
        z-index: 1;
      }
      
      
      </style>
      <style>
      
          *{
              margin:0;
              padding:0;
              box-sizing:border-box;
              position:relative;
          }
          body,html{
              height:100%;
              width:100%;
              
          }
          @font-face {
              font-family: funnyFont;
              src: url(./assets/FunSized.ttf);
          }
          .container-fluid{
              font-size:48px;
              height:100%;
              width:100%;
              color:#086E7D;
              /* background-color:#FFC900; */
          }
      
          .content{
              /* background-color:orange; */
              height:100%;
              /* text-align:center; */
          }
      
          .animation-lamp{
              height:100%;
              width:100%;
              z-index:-1;
              position:absolute;
              top:0;
          left:0;
              /* background-color:#FFCA03; */
          }
          .content-title{
              font-size:clamp(20px, 58px, 64px);
              position:absolute;
              width:100%;
              top:290px;
              font-family:funnyFont;
      
          }
          .team-name{
              font-size:clamp(20px, 58px, 64px);
              position:relative;
              width:100%;
              
              font-family:funnyFont;
      
          }
          .content .btn{
              background-color:#086E7D;
              color:#fff;
              font-weight:bolder;
              margin-right: 0;
              /* margin-top:460px; */
              
      
          }
      </style>
    <title><%= pagetitle %></title>
</head>

<body>
  
  <div class="container-fluid">

    <section class="animation-lamp">
        <div class="lamp">

            <div class="cable"></div>
            <div class="cover"></div>
            <div class="in-cover">
             <div class="bulb"></div>
            </div>
            <div class="light"></div>
           
          </div>
          
          
          
          
    </section>

    <section class="content">
        <h1 class="content-title text-center">
            what an idea <br>
            sir ji
        </h1>
        <% if(isAuthenticated) {%>
          <h1 class="team-name">Welcome <span><%= Teamname %></span>
        <form action="/logout" method="get">
        <button class="btn ml-4 text-center" type="submit">logout</button>
      </form>
    </section>
        </div>




    <div class="container">

        
            
                </h1>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">

                                <div class="card-header">
                                    Team 1
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote1" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">
                                <div class="card-header">
                                    Team 2
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote2" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">
                                <div class="card-header">
                                    Team 3
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote3" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card style=" width: 15rem;"">
                                <div class="card-header">
                                    Team 4
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote4" method="post">
                                            <button type="submit" btn btn-primary">Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="alert alert-info">You have <%= votesbalance %> votes remaining</h3>
                <% } else { %>
                    <h2 class="alert alert-warning">Login with your team id and secret code to vote</h2>
                    <% } %>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>