<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="./css/polling.css">
    <style>



      a {
        color: #333;
        text-decoration: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        margin: 0px auto;
        font-family: Helvetica, Arial, Sans-Serif;
        text-transform: uppercase;
        font-weight: bold;
      }
      
      .lamp {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        margin: 0px auto;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform-origin: center top;
        animation-timing-function: cubic-bezier(0.6, 0, 0.38, 1);
        animation: move 5s infinite ease-in-out;
        /* IE 10+, Fx 29+ */
      }
      
      @keyframes move {
        0% {
          transform: rotate(-30deg);
        }
        50% {
          transform: rotate(30deg);
        }
        100% {
          transform: rotate(-30deg);
        }
      }
      .cable {
        width: 4px;
        height: 100px;
        background: #323249;
      }
      
      .cover {
        width: 200px;
        height: 80px;
        background: #323249;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        position: relative;
        z-index: 200;
      }
      
      .in-cover {
        width: 100%;
        max-width: 200px;
        height: 20px;
        border-radius: 100%;
        background: #AAA;
        position: absolute;
        left: 0px;
        right: 0px;
        margin: 0px auto;
        bottom: -9px;
        z-index: 100;
      }
      .in-cover .bulb {
        width: 50px;
        height: 50px;
        background: #F5D76E;
        border-radius: 50%;
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -20px;
        margin: 0px auto;
      }
      
      .light {
        width: 500px;
        height: 0px;
        
        border-left:500px solid transparent;
        border-right: 500px solid transparent;
        border-bottom: 1500px solid #FFF89A;
        
        
        position: absolute;
        left: -350px;
        right: 0px;
        top: 100px;
        margin: 0px auto;
        z-index: 1;
      }
      
      
      </style>
      <script>
          function show_alert(){
            if(!confirm("Do you really want to vote for Team1 ?")){
                return false
            }
            else{
                this.form.submit()
            }
        }
      </script>
      <style>
      
          body,html{
              width: 100%;
              
              margin: 0;
              padding: 0;
              overflow-x: hidden !important;
          }
          @font-face {
              font-family: funnyFont;
              src: url(./assets/FunSized.ttf);
          }
          
          
          
           .btn{
              background-color:#323249;
              color:#fff;
              font-weight:bolder;
              margin-right: 0;
              /* margin-top:460px; */
              /* border-radius: 0px 0px 27px 0px;
       */
            }
            .btnvariant{
              background-color:#086E7D;
              color:#fff;
              font-weight:bolder;
              margin-right: 0;
              /* margin-top:460px; */
              border-radius: 0px 0px 27px 0px;
      
            }
            
            .section{
                /* position: fixed; */
               
                left: 0;
                width: 600%;
                height: 100vh;
                display: flex;

            }
            .page{
                position: relative;
                
                width: 100%;
                height: 100vh;
                box-sizing: border-box;
                
            }
            .container-fluid{
              position: relative;
              align-items: baseline;
              height:100vh;
              width: 100%;
              color:#323249;
              /* background-color:#FFC900; */
          }
      
          /* .pageone{
              width: 40%;
          } */
      
          .animation-lamp{
              height:100%;
              width:100%;
              z-index:-1;
              position:relative;
              top:0;
              left:43%;
              /* background-color:#FFCA03; */
          }
          .content-title{
              font-size: xxx-large;
              position:relative;
              width:100%;
              margin-top: 200px;
              color: white;
              font-family:funnyFont;
              
      
          }
          @media screen and (min-width:0px) and (max-width:992px) {
            .animation-lamp{
              height:100%;
              width:100%;
              z-index:-1;
              position:relative;
              top:0;
              left:30%;
              /* background-color:#FFCA03; */
          }  
          .content-title{
              font-size: xxx-large;
              position:relative;
              width:100%;
              margin-top: 200px;
              color: white;
              font-family:funnyFont;
              
      
          }
          .page{
                position: relative;
                
                width: 100%;
                height: 100vh;
                box-sizing: border-box;
                
            }
            .down
          {
            
            height: 30%;
            background-color: #323249;color: #fff;
          }
          }
          
          .navbar{
              height: 20%;
            background-color: #F9A826;
            border-bottom-right-radius: 20px;
          }
          .down
          {
            border-top-left-radius: 20px;
            height: 20%;
            background-color: #323249;color: #fff;
          }

      </style>
    <title><%= pagetitle %></title>
</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <% if(isAuthenticated) {%>
        
    <div class="section">
        <section class="page">
            <div class="navbar">
                <div class="navbar-brand">
                   <h5> Welcome <span style="color: #323249;"><%= Teamname %></span></h5>
                        
                        </div>
                        <div class="nav-item">
                  <form action="/logout" method="get">
                  <button class="btn ml-4 text-center" type="submit">logout</button>
                   </form>
                </div>
            </div>
            <div class="container-fluid">
            <section class="animation-lamp" style="width: 10px; height: 10px; transform: scale(0.5);">
                <div class="lamp">

                    <div class="cable"></div>
                    <div class="cover"></div>
                    <div class="in-cover">
                    <div class="bulb"></div>
                    </div>
                    <div class="light"></div>
                
                </div>
            </section>
            <section class="content">
                <h1 class="content-title text-center animate__animated">
                    what an idea <br>
                    sir ji
                </h1>
            </section>
        </div>   
       <div class="down fixed-bottom text-center" >
           <div class="container" >
               Vote for the idea that seems to you is the best
        <% if (votesbalance>0) { %><h3 class="alert-info p-2" style="background-color: #323249;color: #fff; font-size: medium;">You have <span class="text-info"><%= votesbalance %> </span>votes remaining</h3>
        <% } else{ %>
            <h3 class="alert-danger p-2" style="background-color: #323249;color: #fff; font-size: medium;">You have <span class="text-danger"><%= votesbalance %></span> votes remaining</h3>
            <% } %> 
       
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F9A826" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
          </svg>
        </div>  
        </section>




    <section class="page" style="background-color: #F9A826;">

        

                                
                                <div class="card" style="height: 100vh; background-color: #F9A826;">
                                <div class="card-title text-center pt-4"><h2>Idea 1</h2></div>
                                <div class="card-body">
                                    
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote1" method="post" onsubmit="if(!confirm('Do you really want to vote for Team1 ?')){
                                            return false
                                        }">
                                            <button class="btnvariant" type="submit" >Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            
                        
            </section>
            <section class="page" style="background-color: #323249;color: #fff;">
                
                <div class="card" style="height: 100vh; background-color: #323249;">
                    <div class="card-title text-center pt-4"><h2>Idea 2</h2></div>
                                    
                               
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote2" method="post" onsubmit="if(!confirm('Do you really want to vote for Team2 ?')){
                                            return false
                                        }">
                                            <button class="btnvariant" type="submit" >Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                            </div>
                            
                        
                   </section>
                    <section class="page" style="background-color: #F9A826; ">
                    
                        <div class="card" style="height: 100vh; background-color: #F9A826;">
                            <div class="card-title text-center pt-4"><h2>Idea 3</h2></div>
                                
                                
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote3" method="post" onsubmit="if(!confirm('Do you really want to vote for Team3 ?')){
                                            return false
                                        }">
                                            <button class="btnvariant" type="submit" >Vote</button>
                                        </form>
                                        <% } %>
                                </div>
                               
                            </div>
                        </section>
                        <section class="page" style="background-color: #323249; color: #fff;">
                        
                            <div class="card" style="height: 100vh; background-color: #323249;">
                                <div class="card-title text-center pt-4"><h2>Idea 4</h2></div>
                                  
                               
                                <div class="card-body">
                                    <h5 class="card-title">Abstract</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                        odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                        neque magni!</p>
                                    <% if (votesbalance>0) { %>
                                        <form action="/vote4" method="post" onsubmit="if(!confirm('Do you really want to vote for Team4 ?')){
                                            return false
                                        }">
                                            <button class="btnvariant" type="submit" >Vote</button>
                                        </form>
                                        <% } %>

                                </div>
                           </div>
                                
                        </section>
                        <section class="page" style="background-color: #F9A826;">
                        
                            <div class="card" style="height: 100vh; background-color: #F9A826;">
                                <div class="card-title text-center pt-4"><h2>Idea 5</h2></div>
                                   
                                
                                 <div class="card-body">
                                     <h5 class="card-title">Abstract</h5>
                                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                         Possimus, reprehenderit velit exercitationem dolorem atque quod quos, quas modi
                                         odit culpa facere impedit repellendus ipsam, quibusdam est assumenda architecto
                                         neque magni!</p>
                                     <% if (votesbalance>0) { %>
                                        <form action="/vote5" method="post" onsubmit="if(!confirm('Do you really want to vote for Team5 ?')){
                                            return false
                                        }">
                                            <button class="btnvariant" type="submit" >Vote</button>
                                        </form>
                                         <% } %>
 
                                 </div>
                            
                                </div> 
                         </section>
                </div>
                <% } else { %>
                    <h2 class="alert alert-warning">Login with your team id and secret code to vote</h2>
                <% } %>

 
    <script>
        
        let sections =gsap.utils.toArray(".page")
        gsap.to('.bi', {scrollTrigger:{
        trigger:'.page',
        toggleActions: "restart none none none"
        }, y: 20, opacity:1, duration: 1,repeat:-1})
        gsap.to(sections, {
            xPercent: -100 * (sections.length-1),

            ease: "none",
            scrollTrigger: {
                trigger: ".section",
                
                pin: true,
                scrub: 1,
                snap: 1 / (sections.length -1),
                end: () => "+="+document.querySelector(".section").offsetWidth
            }
        })
        // let content=document.querySelector('.content-title')
        // console.log(content)
        // content.addEventListener("mouseover",()=>{

         
        // content.classList.add('animate__rubberBand');
        // content.classList.add('animate__rubberBand');
        // console.log(content.classList)
        // })
        // content.addEventListener("mouseout",()=>{
        // content.classList.remove('animate__rubberBand');
        // content.classList.remove('animate__rubberBand');


        // })
        
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>

</html>