<%- include('includes/navigation.ejs') %>
<div class="container">
    <h1>Log In Here</h1>
    <form class="mt-4" method="post" action="/loginstore">
        <div class="form-group row mt-4">
            <label for="staticEmail" class="col-sm-2 col-form-label">Team Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" placeholder="Team Vak" name="name">
            </div>
          </div>
          <div class="form-group row mt-4">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" placeholder="***********" id="inputPassword" name="password">
            </div>
          </div>
          <button class="btn btn-primary mt-3" type="submit">Sign in</button>
        </form>
        <% if (passnomatch==true) { %>
            <h2>Your Team name or password is not valid</h2>
          <% } %>
        </div>
        </body>
        </html>